---
layout: default
title: Blog
permalink: /blog/
---
<div class="page-header">
  <h1><i class="fa fa-comment"></i> Blog</h1>
</div>

<div class="list-group">
  {% for post in site.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">
    <h3 class="list-group-item-heading">{{ post.title }}</h3>
    <p class="list-group-item-text">{% if post.meta %}{{ post.meta }}{% endif %}{% if post.author %} by {{ post.author }}{% endif %} on {{ post.date | date: "%-d %b %Y" }}</p>
  </a>
  {% endfor %}
</div>

<p><i class="fa fa-rss"></i> Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
