---
layout: default
permalink: /
---
<div class="row">
    <div class="col">
        <div class="px-4 py-4 my-4 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">{{ site.title }}</h1>
            <div class="col-lg-8 mx-auto">
                <p class="lead mb-4">I am a full-stack Principal Software Engineer with 16 years experience of software
                    development in central government. I have a lead role on key projects in a multi-million pound
                    digital transformation programme, delivering digital services following the government's Service
                    Standards and Design Principles.
                </p>
            </div>
        </div>
        <hr>
        <div id="experience">
            <h2>Experience</h2>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
                {% for experience in site.data.cv.experience %}
                <div class="col">
                    {% include experience.html %}
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div id="knowledge">
            <h2>Knowledge</h2>
            <div class="card shadow my-4">
                <ul class="list-group list-group-flush">
                    {% assign items = site.data.cv.knowledge | sort_natural: "name" | sort_natural: "level" %}
                    {% for item in items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item.name }}
                        <span
                            class="badge {% if item.level == 'Expert'%}text-bg-success{% elsif item.level == 'Proficient' %}text-bg-warning{% else %}text-bg-info{% endif %} rounded-pill">{{ item.level }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
        <div id="skills">
            <h2>Skills</h2>
            <div class="card shadow my-4">
                <ul class="list-group list-group-flush">
                    {% assign items = site.data.cv.skills | sort_natural: "name" | sort_natural: "level" %}
                    {% for item in items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item.name }}
                        <span
                            class="badge {% if item.level == 'Expert'%}text-bg-success{% elsif item.level == 'Proficient' %}text-bg-warning{% else %}text-bg-info{% endif %} rounded-pill">{{ item.level }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
        <div id="projects">
            <h2>Projects</h2>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
                {% for project in site.data.cv.projects %}
                <div class="col">
                    {% include project.html %}
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div id="education">
            <h2>Education</h2>
            {% for education in site.data.cv.education %}
            {% include education.html %}
            {% endfor %}
        </div>
        <hr>
        <div id="memberships">
            <h2>Memberships</h2>
            <ul>
                <li class="my-2"><b>Professional Member</b> - BCS The Chartered Institute for IT - Sep 2007 to
                    present
                </li>
            </ul>
        </div>
        <hr>
        <div id="speaking">
            <h2>Speaking</h2>
            <ul>
                <li class="my-2"><b>Future Sync conference</b> - <em>"Exploring the future of property transactions
                        using blockchain technology"</em> - Plymouth, UK - Apr 2019</li>
                <li class="my-2"><b>Stack Maps conference</b> - <em>"A page on GOV.UK for every property in the
                        UK"</em>
                    - London, UK - Jul 2014</li>
            </ul>
        </div>
        <hr>
        <div id="awards">
            <h2>Awards</h2>
            <h3>Won</h3>
            <ul>
                <li class="my-2"><b>Civil Service Award for Innovation</b> - London, UK - Nov 2014</li>
                <li class="my-2"><b>Real IT Award for Innovation in Business</b> - London, UK - May 2014</li>
            </ul>
            <h3>Nominated</h3>
            <ul>
                <li class="my-2"><b>Real IT Award for Delivering Business Value</b> - London, UK - Jun 2013</li>
                <li class="my-2"><b>Real IT Award for Working Smarter</b> - London, UK - Jun 2013</li>
            </ul>
        </div>
        <hr>
        <div id="testimonials">
            <h2>Testimonials</h2>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
                {% for testimonial in site.data.cv.testimonials %}
                <div class="col">
                    {% include testimonial.html %}
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div id="interests">
            <h2>Interests</h2>
            <ul>
                <li class="my-2">Drumming</li>
                <li class="my-2">Mountain Biking</li>
                <li class="my-2">Running</li>
                <li class="my-2">Video Games</li>
            </ul>
        </div>
    </div>
</div>