<div class="card shadow">
    <div class="card-body">
        {% if item.title %}<h5 class="card-title">{{ item.title }}</h5>{% endif %}
        {% if item.subtitle %}<h6 class="card-subtitle mb-2 text-body-secondary">{{ item.subtitle }}</h6>{% endif %}
        {% if item.date %}<h6 class="card-subtitle mb-2 text-body-secondary">{{ item.date }}</h6>{% endif %}
        {% if item.location %}<h6 class="card-subtitle mb-2 text-body-secondary">{{ item.location }}</h6>{% endif %}
        {% if item.description %}<p class="card-text">{{ item.description }}</p>{% endif %}
        {% if item.links %}
        {% for link in item.links %}
        <a href="{{ link.url }}" target="blank" rel="noopener" class="card-link">{{ link.text }}</a>
        {% endfor %}
        {% endif %}
    </div>
</div>