<div class="card shadow my-4">
    <h5 class="card-header">{{ education.institution }}</h5>
    <div class="card-body">
        <h3 class="card-title">{{ education.qualification }}  <small class="text-body-secondary">{{ education.grade }}</small></h3>
        <p class="card-subtitle mb-2 text-body-secondary">{{ education.dates }}</p>
        <p class="card-subtitle mb-2 text-body-secondary">{{ education.location }}</p>
        {% for link in education.links %}
        <a href="{{ link.url }}" target="blank" rel="noopener" class="card-link">{{ link.text }}</a>
        {% endfor %}
    </div>
</div>