<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">{{ education.qualification }} - {{ education.grade }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ education.institution }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ education.dates }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ education.location }}</h6>
        {% for link in education.links %}
        <a href="{{ link.url }}" target="blank" rel="noopener" class="card-link">{{ link.text }}</a>
        {% endfor %}
    </div>
</div>