<div class="card shadow my-4">
    <h5 class="card-header">{{ experience.name }}</h5>
    <ul class="list-group list-group-flush">
        {% for role in experience.roles %}
        <li class="list-group-item">
            <h4 class="card-title">{{ role.name }}</h4>
            <p class="card-subtitle mb-2 text-body-secondary">{{ role.dates }}</p>
            <p class="card-subtitle mb-2 text-body-secondary">{{ role.location }}</p>
            <p class="card-text mb-2">{{ role.description }}</p>
            {% for link in role.links %}
            <a href="{{ link.url }}" target="blank" rel="noopener" class="card-link">{{ link.text }}</a>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>