.md-grid {
  max-width: initial;
}

:root {
  /* Primary colours */
  --md-primary-fg-color: #1d70b8;
  --md-primary-fg-color--light: #1d70b8;
  --md-primary-fg-color--dark: #1d70b8;
  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: #ffffff;

  /* Accent colours */
  --md-accent-fg-color: #003078;
  --md-accent-fg-color--transparent: #003078;
  --md-accent-bg-color: #ffffff;
  --md-accent-bg-color--light: #ffffff;
}
